name: Docker Image CI

on:
  push:
    tags:
      - '**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker login -u flori303 -p ${{ secrets.DOCKER_BUILDER_TOKEN }}; make build
